@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
/* ------------------------------------------------------------- */
/* SETUP */
/* ------------------------------------------------------------- */
:root {
    --title: #fff;
    --title-break: #50858B;
    --light-pearl: #E7DFC6;
    --warm-black: #073B4C;
    --primary-color: #073B4C;
    --light-color: #E7DFC6;
    --cool-green: #55E6C1;    

    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------- */
/* UTILITY CLASSES */
/* ------------------------------------------------------------- */

.container {
    max-width: var(--max-width);
}

.l-heading {
    font-size: 3rem;
    font-weight: 700;
}

.m-heading {
    font-size: 2rem;
    font-weight: 400;
}

/* ------------------------------------------------------------- */
/* SHOWCASE */
/* ------------------------------------------------------------- */

#showcase {
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title);
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr.showcase-break {
    border: 2px solid rgba(0,0,0,0);
    width: 0%;
    transform: skewX(-50deg);
    animation: animateBreak 1s forwards linear 1s;
}

@keyframes animateBreak {
    to {
        width: 75%;
        border: 2px solid var(--title-break);
    }
}

.title {
    position: relative;
    left: -2000px;
    animation:  animateTitle 1s forwards ease-out;
}

@keyframes animateTitle {
    to {
        left: 0px;
    }
}

.subtitle {
    position: relative;
    left: 2000px;
    animation:  animateSubtitle 1s forwards ease-out;
}

@keyframes animateSubtitle {
    to {
        left: 0px;
    }
}


